<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flask Template</title>
	</head>
	<body>
		<div>
			<h1>3-axis accelerometer</h1>
			<iframe
				src="{{ url_for('acc_data') }}"
				title="accelerometer-graph"
				style="border: none; height: 500px; width: 700px"
			></iframe>
		</div>
		<div>
			<h1>3-axis gyroscope</h1>
			<iframe
				src="{{ url_for('gyro_data') }}"
				alt="gyroscope-graph"
				style="border: none; height: 500px; width: 700px"
			></iframe>
		</div>
	</body>
</html>
